<!------------------ footer ------------------>

<footer>
    <div class="ufooter">
        <div class="img"><img src="/images/1.png" alt=""></div>
        <div class="text">
            <ul>
                <h3>Service</h3>
                <li><a href="#">Research Assitance</a></li>
                <li><a href="#">Self Article Publishing </a></li>
                <li><a href="#">Self Book Publishing </a></li>
                <li><a href="#">Get Hired </a></li>
                <li><a href="#">Get Skilled </a></li>
            </ul>
        </div>
        <div class="text">
            <ul>
                <h3>Business</h3>
                <li><a href="#">Publisher Hub </a></li>
                <li><a href="#">Univesity Lab </a></li>
                <li><a href="#">Recuter Hub </a></li>
                <li><a href="#">Learning Hub </a></li>
                <li><a href="#">Research Organisation </a></li>
                <li><a href="#">Business Organisation </a></li>
            </ul>
        </div>
        <div class="text">
            <ul>
                <h3>Company</h3>
                <li><a href="#">Vichayan </a></li>
                <li><a href="#">Investor Relation </a></li>
                <li><a href="#">Blog </a></li>
                <li><a href="#">Press </a></li>
            </ul>
        </div>
    </div>

    <p class="copyright">
        User Agreements | Privacy Policy | Cokie Policy | Copyright Policy | Brand Policy | Community
        Guideline <br>
        © 2021 Tanumanasa Service Private Limited . All rights reserved.
    </p>
</footer>

<!------------------ end of footer -------------------->