<!------------------ navbar ------------------->

<nav class="navbar navbar-expand-md navbar-light ">
    <a href=""><img src="/images/i1.png" alt="#" width="250" height="70"></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
            <button type="button1" class="btn bg-transparent">Join Free</button>
            <button type="button1" class="btn bg-transparent">Sign In</button>
        </div>
    </div>
</nav>

<!------------------ end of navbar------------------>