<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <!------------------ Popup ------------------->

    <div class="login-popup" id="certform">
        <div class="box">
            <div class="img-area">
                <div class="img">
                </div>
                <img src="/images/1.png" alt="">
            </div>

            <div class="form">
                <div class="close">&times;</div>
                <form id="counter">
                    <div class="form-group">
                        <input type="text" name="uname" placeholder="Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" placeholder="Phone no." class="form-control">
                    </div>
                    <button type="button" class="btn" value="Visit Site" onclick="clickCounter()">Visit Site</button>
                </form>
            </div>
        </div>
    </div>

    <!------------------end of Popup ------------------->




    <!------------------ header ------------------>

    <div class="header">
        <div class="hh1">
            <img src="/images/b2.png" alt="">
        </div>
        <div class="hh2">
            <div><img class="p1" src="/images/b3.png" alt=""></div>
            <div>
                <h1>
                    Are you looking <br>
                    for research <br>
                    colleagues ? <br>
                </h1>
                <div class="bbj">
                    <div><button type="button" class="btn ">Join Free</button>
                    </div>
                    <div><button type="button" class="btn ">Sign In</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------------------ end of header ------------------>

    <!------------------ body section ------------------>

    <!-- c1 used for research section -->
    <div class="c1">
        <h1>Scrutinize with us to broden your <br>
            knowledge to accelarate innovation</h1>
        <a href="researchAssitance"> <button type="button" class="btn btn-lg">Research Now</button></a>
       
    </div>
    <!-- c2 & c3 both are used for below section of research section -->
    <div class="c2">
        <div>
            <h1>Make Research <br>
                Easy With <br>
                Vichayan</h1>
        </div>
        <div class="img1">
            <img src="/images/b.png" alt="">
        </div>
    </div>
    <div class="c3">
        <div class="img1">
            <img src="/images/t1.png" alt="">
        </div>
        <div>
            <h1>Research And Innovation <br>
                For Entire Hub <br>
            </h1>
        </div>
    </div>

    <!------------------ end of body Section  ------------------>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/javascripts/script.js"></script>

</body>

</html>