<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vichayan</title>
    <link rel="icon" href="/images/64.png">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Main Style -->
    <link rel="stylesheet" href="/stylesheets/researchAssitance.css">

</head>

<body>

    <!-----------1Section ----------->

    <section>
        <div class="container">
            <div class="row">
                <div class=" col-lg-6 col-md-6 col-12"> <br> <br>
                    <div class="firstSection">
                        <h1>Why Research assistance needful?</h1> <br>
                        <h5>" While a research assistant is expected to <br> contribute
                            in many ways to the research project,<br>typical responsibiliies include the following :<br>
                            1.conduct literature reviews.<br>
                            2.collect and analyze data.<br>
                            3.prepare material for submission to granting agencies and foundation."</h5>
                    </div>
                </div>
                <div class=" col-lg-6 col-md-6 col-12" id="joinImg">
                    <img src="/images/d1.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
    </section> <br>

    <!-----------End of section1------------ -->

    <!-- section2-->
    <section>
        <div class=" container">
            <div class="row">
                <div class=" col-lg-6 col-md-6 col-12" id="joinImg">
                    <img src="/images/d2.png" class="img-fluid" alt="...">
                </div>
                <div class=" col-lg-6 col-md-6 col-12">
                    <h1 class="text-center">An infographic of all about Research Assistance features!</h1> <br>
                    <ul class="text-center">
                        <h5>
                            <li>infographics</li> <br>
                            <li>visual summaries</li> <br>
                            <li>policy briefs</li> <br>
                            <li>illustrations & infocomics</li>
                        </h5>
                    </ul>
                </div>

            </div>
        </div>
        </div>
    </section> <br>
    <!-- section2-->

    <!-- -------section3------- -->

    <section>
        <div class=" container">
            <div class="row">
                <div class=" col-lg-6 col-md-6 col-12">
                    <h1 class="text-center">Advantages of Research Assistance!</h1> <br>
                    <ul class="text-center">
                        <h5> Research Assistantships
                            They give you research experience: In a research assistantship, your job is to design
                            experiments, conduct experiments, analyze data and write up the results. These are all
                            essential skills for new scientists. Having these skills will help you when you complete
                            your Master's Thesis and Doctoral Dissertation.
                            Lots of scholarly activities for your Academic Vita: Working as a research assistant means
                            contributing to the successful completion of conference talks and posters, publications and
                            grants. When you contribute to these types of projects, you may get authorship and / or
                            recognition. Scholarly activities look great on an Academic Vita. They can help you get a
                            job in academia in the future.
                            May get to know your major professor better and this can enhance your letter of
                            recommendation: A research assistant usually works closely with their professor, post docs
                            and upper level graduate students. When you work closely with these people, you can get to
                            know them better. Knowing these people can help you get better letters of recommendation -
                            letters that really demonstrate that you have worked closely with other academics. Great
                            letters of recommendation can get you far.</h5>
                </div>
                <div class=" col-lg-6 col-md-6 col-12" id="joinImg">
                    <img src="/images/d5.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>

    </section><br>

    <!-- ------- end of section3------- -->


    <!-- ----section 4------- -->
    <section>
        <div class="container">
            <div class="row">
                <div class=" col-lg-6 col-md-6 col-12">
                    <div class="text-center">
                        <iframe width="300" height="200" controls
                            src="https://www.youtube.com/embed/afCQqomy4ys"></iframe>
                        your browser does not support the video tag.
                    </div>
                </div>
                <div class=" col-lg-6 col-md-6 col-12">
                    <h1 class="text-center">Benefit!</h1> <br>
                    <h5>Research Assistants use multiple streams of data to find information.
                        They use the internet, surveys, legal documents, and other <br> published research to help
                        the
                        person they are assisting collect information.<br> Research assistants are mostly found in
                        the social science or laboratory setting.</h5>
                </div>

            </div>
        </div>

    </section><br>
    <!-- ------end of section4------ -->

    <!---------------section5---------->
    <div class="call to action">
        <center>
            <h1>Contact Us</h1>
            <a href="mob:8895561255">mob:8895561255</a><br>
            <a href="mailto:kranti@tanumanasa.com">Email:kranti@tanumanasa.com</a>

            <h2> Social Media </h2>

            <!-- Add font awesome icons -->
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-skype"></a>
        </center>
    </div>
    <!---------------end of section5--------->




</body>

</html>